@import "tailwindcss";

:root {
  font-family: 'DM Sans', sans-serif;
  --color-brand-green: #ccf32f;
  --color-brand-dark: #0a0a0a;
  --color-brand-gray: #f5f5f5;
}

h1,h2 {
  font-family: 'Anybody', sans-serif;
}


body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

#app {
  width: 100%;
}

/* Custom Utilities */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth fade for accordion */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease, height 0.3s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
